* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* HEADER */
header {
    background: #111;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

header nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

header nav a:hover {
    color: #6c63ff;
}

/* HERO */
.hero {
    height: 90vh;
    background: linear-gradient(to right, #6c63ff, #393e46);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
    margin-bottom: 20px;
}

.hero button {
    margin-top: 20px;
    padding: 10px 20px;
    background: white;
    color: #6c63ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* SECTIONS */
section {
    padding: 60px 20px;
    text-align: center;
}

.light {
    background: #f4f4f4;
}

/* SKILLS */
.skills span {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: #6c63ff;
    color: white;
    border-radius: 20px;
}

/* PROJECTS */
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

/* CONTACT SECTION */
.contact-section {
    background: radial-gradient(circle at top, #1b1536, #05030f);
    color: white;
}

.contact-form {
    max-width: 420px;
    margin: auto;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 18px;
    background: transparent;
    border: 2px solid #6c63ff;
    border-radius: 10px;
    color: white;
}

.contact-form button {
    width: 100%;
    padding: 15px;
    background: linear-gradient(90deg, #6c63ff, #9f8cff);
    border: none;
    border-radius: 12px;
    color: white;
    cursor: pointer;
}

.email-box {
    margin: 40px auto 0;
    max-width: 420px;
    padding: 30px;
    border: 2px solid #6c63ff;
    border-radius: 15px;
}

.mail-icon {
    width: 60px;
    height: 60px;
    background: #6c63ff;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    margin: auto;
    margin-bottom: 15px;
}

/* FOOTER */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}
